<div>
    <h1>Iniciar Session</h1>

    <form action="/api/session/login" method="post">
        Email: <input type="text" name="email"><br>
        Password: <input type="text" name="password"><br>

        <br>

        <input type="submit" value="Iniciar Sesion">
    </form>

    <div>
        <a href="/api/session/register"><button>Registrate!</button></a>
    </div>

    <div>
        <a href="/api/session/github"><button>Entrar con Github</button></a>
    </div>
</div>