<div>
    <h1>Bienvenido al Desafío...creo que N°4!!</h1>
        {{#each products}}
            <div>
                <p>Product Title: {{this.title}}</p>
                <p><b>Price: {{this.price}}</b></p>
                <hr>
            </div>
        {{/each}}
</div>